.product-container {
  padding: 20px;
}

.gridOf3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Adjust gap between items */
}
.search-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 30px; /* Adjust padding for icon space */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.products {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.products:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.imgcontainer {
  flex: 1;
}
.imageOnly img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.imageOnly {
  border-bottom: 4px solid black;
}

.category-filters {
  display: flex;
  gap: 10px;
}

.category-filters label {
  display: flex;
  align-items: center;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details button {
  padding: 5px 10px;
  align-self: start;
  border: none;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  background-color: #299ff3;
  border-radius: 5px;
  cursor: pointer;
}
.details button:hover {
  background-color: #38a7f6;
}

/* Media queries for mobile devices */
@media (max-width: 1024px) {
  .gridOf3 {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two items per row on medium screens */
  }
}

@media (max-width: 600px) {
  .gridOf3 {
    grid-template-columns: 1fr; /* One item per row on small screens */
  }
}

@media (max-width: 480px) {
  input[type="text"] {
    font-size: 14px; /* Smaller font size for search input on very small screens */
  }

  button {
    font-size: 12px; /* Smaller font size for buttons on very small screens */
    padding: 8px 12px;
  }
}
